@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-Bold_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-Bold_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-Bold_v3.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-ExtraBold_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-ExtraBold_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-ExtraBold_v3.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-Medium_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-Medium_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-Medium_v3.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-Regular_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-Regular_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-Regular_v3.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-Regular_Italic_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-Regular_Italic_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-Regular_Italic_v3.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-Light_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-Light_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-Light_v3.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Iset Sans';
  src: url('../assets/fonts/IsetSans-ExtraLight_v3.otf') format('otf'),
  url('../assets/fonts/IsetSans-ExtraLight_v3.woff') format('woff'),
  url('../assets/fonts/IsetSans-ExtraLight_v3.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
